@charset "UTF-8";
@import url('navigataur.css');
@import url('responsiveslides.css');
@import url('boilerplate.css');
@import url('themes.css');

body {font-family:Helvetica, Arial, sans-serif;margin:0;padding:0;outline:none;}
img, object, embed, video {max-width: 100%;}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {width:100%;}
html, body {overflow-x:hidden; }
a {outline:none;}
.ouetr {width:100%;}
.clear{clear:both;}
.error{color: #f00;}
input.error{border: 1px solid #F00}
#wrapper {max-width:1012px; margin:0px auto ;}
#mainslider{margin-bottom: 5px}
#mainslider .transparent-btns_tabs{position: absolute;top: 85%;z-index: 2;right:50px;}
.maharaja_home_outer {background:#fff; border:0.5em solid #f1f1f1; margin-top:1em}
.maharaja_home_outer ul {margin:0px; padding:0px;width: 100%;display: block;position: relative;}
.maharaja_home_outer ul li {list-style:none; margin-right:1.2em; width:32.234%; float:left;position: relative }
.maharaja_home_outer ul li.expterience {list-style:none; background:#fe0b5b;}
.maharaja_home_outer ul li.newness {list-style:none;background:#12ba74;}
.maharaja_home_outer ul li.care {list-style:none;background:#0ecfdd; margin-right:0px;float: right}

#tabs {border:0.5em solid #48a77d;}
.newness_header {font-size:17px; padding:0.5em ; color:#FFF; text-transform:uppercase; font-family:'robotolight', Arial, Helvetica, sans-serif;font-weight: bold;}
.newness ul {margin:0px; padding:0px; }
.newness ul li {margin:0px; padding:0px;width:100%  }
.care ul li {margin:0px; padding:0px; width:100% ;height: 205px !important }
.inner_experience {border:0.5em solid #da034a; position:relative;}
.inner_newness {border:0.5em solid #48a77d;position: relative}
.inner_care {border:0.5em solid #00bdcb; position:relative; background:#FFF;}
.inner_care  .transparent-btns_tabs, .inner_newness .transparent-btns_tabs{position: absolute;top: -46px;z-index:0;right:0;width: 45px}
.inner_care  .transparent-btns_tabs li, .inner_newness .transparent-btns_tabs li{width:11px}
#slider3-pager {margin:0px; padding:0px; }
#slider3-pager ul {margin:0px; padding:0px;}
#slider3-pager li {float:left !important; margin:0px;text-align:center; position:relative; width:50%; text-align:center !important; }
#slider3-pager li a {background:#333;color:#FFF; text-decoration:none;padding:0.6em; margin:0px; text-transform:uppercase; font-size:0.8em; display:block;}
#slider3-pager li a:hover,  #slider3-pager li.rslides_here a {color:#FFF;background:#e41e2c;}
/*
.nav {background:#f28e98; max-width:805px; float:right; border:0.5em solid #ed7c98; border-radius:25px; margin:-1em 0 1em 0; }
.nav ul {margin:0px; padding:0px; float:left;}
.nav li {float:left; font-size:14px; text-transform:uppercase; border-right:1px solid #cc5763; vertical-align:middle; padding:0.5em 0.5em  }
.nav li a { padding:0em 0em; text-decoration:none;color:#FFF;}
.nav li a:hover {background:#ed7c98; padding:0em 0em; color:#fff;}
.sub_menu {display:none; z-index:999;border:none;}
.nav li a:hover .sub_menu {display:block; position:relative; border:none;}
.nav ul li:hover .sub_menu {display: block;position: absolute;padding:0.5em 0;}
.nav ul li:hover .sub_menu li {float: left;font-size: 12px;margin:0px;padding:0.8em 1em; background: #ed7c98; list-style:none; }
.nav ul li:hover .sub_menu li a { background: #ed7c98;color:#fff;}
.nav ul li:hover .sub_menu li a:hover { background: #ed7c98; color:#e41e2c;}
.nav ul li:hover .sub_menu li:last-child {border:none;}
*/
.rslides_here {background:#ed1a3b !important;}

.search_outer {float:left; margin:0.3em 0 0 1em; }
.search {width:125px;border-radius:25px; border:none; padding:0.5em 2em 0.5em 1em; float:left; font-size:11px; color:#666;background:url('../images/icon_search.png') no-repeat 135px 3px #fff ; outline:none;}
.main_menu li:last-child{border:none}
.logo {width:227px; height:69px; float:left; margin:1em 0 0 0;}


.social_menu { max-width:805px; float:right; margin:1em 0; }
.social_menu ul {margin:0px; padding:0px;}
.social_menu ul li {float:left; vertical-align:bottom; padding:0 0.5em;}
.social_menu ul li.follo {margin:10px 0 0 0; font-size:12px; }
.social_menu ul li.follo_s {margin:5px 0 0 0; padding:0 0.2em; }
.social_menu ul li.follo_s:last-child {padding-right:0px;}
.b_maharaja span {border-left:1px solid #ddd;border-right: 1px solid #ddd; padding:0em 0.5em 0 0.8em;}

footer {background:#f1f1f1; margin:2.5em 0 0 0; padding:1em 0; font-family:Arial, Helvetica, sans-serif;}
.copy_right { color:#000; font-size:11px; float:left; width:30%;}
.privasy {float:right;  position:relative; margin:0px; padding:0px; width:40%; }
.privacy_2 {float:right ; font-size:11px;}
.privacy_2 a {text-decoration:none;color:#000;}
.privacy_2 a:hover {color:#F36;;}

/*
.privasy li:first-child{width:240px;}
.privasy li {float:left; list-style:none;color:#000; font-size:11px; padding:0 0.5em;}
.privasy li a {text-decoration:none;color:#000;}
*/

.video-container {position: relative;padding-bottom: 56.25%;padding-top: 30px; height: 0; overflow: hidden;}
.video-container iframe,.video-container object,.video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.centered-btns_nav {position:relative; float:right; width:100px; display:block; height:25px; top: 0px;}
.inner_experience .centered-btns_nav {position:absolute; top:0px; right:0px; display:block;}
.inner_experience .prev { width:30px; position:relative; top:0px; background: transparent url("../images/themes.png") no-repeat right top;left:91%;position: absolute}
.inner_experience .next {width:30px; position:relative; top:0px; background: transparent url("../images/themes.png") no-repeat left top; right:20px;position: absolute}
.res {float:right; display:block;}
.inner_experience ul li{float: none;position: absolute;opacity: 0;z-index: 1;display: block;width: 100%;}

/* --- product page start */
.banner {width:100%; margin:0px; padding:0px;}
.top_band {background:#f6f6f6; font-family:Tahoma, Geneva, sans-serif; margin:1em 0 0 0; padding:0.5em; font-size:22px; border:1px solid #dbdbdb;}
.top_band .title { background:url(../images/icon_product.png) no-repeat 0px 5px ; padding:0 0 0 1.5em;  margin:0 0 0 1em;}
.top_path {float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0.7em 1.3em 0 0;}
.top_path span{text-transform:capitalize}
.top_path a{color: #222}
.product_outer { margin:0px; padding:0px;}
.product_section { margin:0px; padding:0px; border-bottom:1px solid #CCC; clear:both; display:block; position:relative;min-height:500px;}
.product_section ul { margin:1em 0; padding:0px;}
.product_section ul li { margin:1em 1.6em; padding:0px; width:210px; float:left; list-style:none;}
.product_section ul li.search-result{width: 500px;}
.search-result .feture {margin: 0px;padding: 0px;}
.search-result .feture a{color: #333}
.search-result .search-snippet-info .search-snippet{margin:3px 0px;}
.product_section_li{margin:1em !important;height:310px }
.product_section ul li .product_image {margin:0px auto; width:200px;text-align: center }
.pro_listing_imag img{max-height: 192px}
.product_section ul li .product_name {width:195px; margin:0em auto; background:#f7f7f7; border-bottom:1px solid #e3e3e3;border-top:1px solid #e3e3e3; padding:0.3em 0; text-align:center; font-size:12px; font-weight:bold;height: 27px;vertical-align:middle;display:table-cell}
.product_section ul li .product_price {text-align:center; font-size:12px; font-weight:bold; margin:1em auto;}
.product_section ul li .view_details {width:100px; margin:1em auto;}
.product_section ul li .view_details a {background:#ed1846; padding:0.4em 0.8em; border-radius:15px; color:#FFF; text-decoration:none; font-size:14px;}
.product_section ul li .view_details a:hover {background:#F00; }
#prize{float: right;margin-top: 20px}
#prize #sort-options{display: none;}
#prize  #sbHolder_51023074:hover #sort-options{display: block;margin: 0}
#prize  #sbHolder_51023074:hover #sort-options li{margin:0;width: 100%}
/* --- product page end */

/* --- product overview page start */
.product_overview_outer {width:100%; float:left; margin:1.5em 0;}
.product_overvie_image {width:530px; float:left; margin:1em 0 0 0;position:relative}
.product_overvie_left {max-width:450px; float:left;margin:0 0 0 2em }
.product_display{/*background:url('../images/bg_product_large.jpg') center no-repeat;background-size:cover;*/  text-align:center;}

.view_product_name{font-size:30px; text-transform:capitalize;font-family:'bauhas', Arial, Helvetica, sans-serif; font-weight:bold; margin:1em 0em 0em 0em; padding:0px; color:#ee1d25;}
.feture{text-transform:lowercase; font-size:18px;padding:0px;margin:0em 0em 0.5em 0em;font-family:'robotomedium', Arial, Helvetica, sans-serif;}
.feture_detail {font-size:16px; margin:5px 0 10px  0; }	
.vie_product_id {width:90%; border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb; padding:0.5em 0; font-weight:bold; font-size:12px;}
.pro_price {border-bottom:1px dotted #ebebeb;border-top:1px dotted #ebebeb; padding:0.5em 0;clear: both}
.price_left {width:200px; float:left;}	

.caption{font-size: 9px;margin-top: 3px;}
.addthis_toolbox {display:inline-block; margin:0px 0 0 0px;width: 196px;}
.vie_product_id span {font-weight:normal;}
.view_product_price, .view_product_price span {font-size:20px; margin: 0; font-weight:bold;}
.where_to_by {width:120px; margin:0em 0 0 0em;display:inline-block}
.where_to_by a {background:#ed1846; padding:0.4em 1em; border-radius:15px; color:#FFF; text-decoration:none; font-size:14px; float:left;}
.where_to_by a:hover {background:#F00; }
.vie_product_like_us {border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb; padding:0.5em 0 0 1em; width:100%; font-weight:bold; margin:1em 0 5em 0; font-size:14px;vertical-align: top;display: none;} 
.vie_product_like_us > div {width:80px; float:left;}
.vie_product_like_us  > span{width: 500px;display: inherit;}
.vie_product_like_us .addthis_toolbox{width: 58%;}
#horizontalTab ul  {padding:0px !important; border-bottom:1px solid #CCC;}

.tab_inner {margin:0px; padding:0px;}
.overview_header, .specification, .reviews  {background:url(../images/icon_feture.png) no-repeat 5px 5px ; padding:0.1em 1.5em; color:#d92128; font-size:20px; border-bottom:1px dotted #ebebeb; margin:0.5em 0; }

.features .img{margin: 0px 25px 13px 0px;max-width: 70px;min-height:105px;text-align: center; display:inline-block; vertical-align:top;}
.tab_inner .overview {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; margin:0 0 0 1.5em;}
.overview li {list-style-image:url(../images/over_view_li.png) ; margin:0.3em 0; }
.specification {margin:0px; padding:0px;}
.specification li {list-style:none; padding:0.5em; font-size:12px}

.specification li:nth-child(odd) {background:#f6f6f6; color:#333;}
.specification li:nth-child(even) {color: #333;}

.specification_name {width:60%; float:left }
.specification_name span { float: right;
margin-right: 10px;}
.specification_number {width:30%; float:left }

.you_may_also_like {color:#000; background:url(../images/icon_you_may_also_like.png) no-repeat 0px 0.4em; padding:0.3em 1.5em; font-size:20px; clear:both;border-top:1px dotted #ebebeb;}

.you_may_also_like_slider {margin:0px; padding:0px;}

.custom_previous, .custom_next {background:transparent; position:absolute;height:20px; display:block;top:148px;cursor:pointer }
.custom_next{right:0}

/* about start here */
.tab_header {border-bottom:1px solid #dbdbdb; border-top:1px solid #dbdbdb; font-size:20px; color:#000; font-family:Tahoma, Geneva, sans-serif; background:#fafafa; padding:0.2em 0.5em; }
.top_cocotte {font-size:24px;font-family:'robotolight', Arial, Helvetica, sans-serif; text-transform:uppercase; color:#333; margin:0.5em 0 0 0 ; }
.top_cocotte span {font-size:35px;font-family:'robotolight', Arial, Helvetica, sans-serif; }
.tab_togggle_outer {width:100%;}
.tab_togggle_outer ul li {margin:0px;padding:0px; list-style:none; clear:both;}
.tab_togggle_outer ul li img {float:right;}
.hide_text, .hide {display:none;}
.h1_header {font-family:'robotolight', Arial, Helvetica, sans-serif ; border-bottom:dotted 1px #a5a5a5; color:#c0c0c0; font-size:50px; background:url(../images/toggle_normal.png) right no-repeat; cursor:pointer;}
.open {background:url(../images/toggle_bottom.png) right no-repeat;}
.to_make {font-size:15px; font-family:Arial, Helvetica, sans-serif;margin:1em 0 1.5em 0.5em}

.mission {font-size:30px; font-family:'robotolight', Arial, Helvetica, sans-serif; color:#e41e2c; margin:0 0 0 0.3em}
.mission p {font-size:18px; color:#333; margin:0.2em 0 1.5em 0}

.history_list {margin:0 0 0 0.3em; padding:0 0 0 2em;}
.history_list li {list-style-image:url(../images/history_li.jpg);padding:0.7em 0px; margin:0px; font-family:Arial, Helvetica, sans-serif;font-size: 17px }
.title_about { background:url(../images/icon_about.png) no-repeat 0px 3px ; padding:0 0 0 1.5em; margin:0 0 0 1em;}
/* buy_online start here */
.buy_online {width:100%;}
.buy_online .shop_for {margin:1em 0 1em 0 ; font-size:20px; font-family:'robotolight', Arial, Helvetica, sans-serif ;}
.buy_online_logos {margin:0px; padding:0px;}
.buy_online_logos li {display:table; list-style:none; border:1px solid #e6e7e9; margin:-1px; padding:0px; float:left } 
.title_store_locator { background:url(../images/icon_store_locator.png) no-repeat 0px 4px ; padding:0 0 0 1.5em; margin:0 0 0 1em;} 
.store_locator_search_outer {background:#f6f6f6; margin:1.5em 0; position:relative; padding:0.1em 0;}

.testTable {display: table;  margin: 0px;  padding: 0px; width:100%;}
.testRow {  display: table-row;}
.testRow > span {  list-style:none;  display: table-cell;  border: 1px solid #e5e5e5;padding:1em; vertical-align:middle; font-size:12px; }
.testHeader {  display: table-header-group;  }
.testHeader span {  background-color: #e41e2c;  color:#fff;  padding:1em;}
.testBody{display: table-row-group;}

.district, .course {width:260px; float:left;}
.pin_number {border:1px solid #CCC; height:30px; padding:0 0.5em;}
.search_button {position:absolute; right:0px; width:100px; top:0px;}
.search_field {width:100px; height:35px; background:#008a49; color:#fff; border:none; padding:0 0.5em;}
.search_submit {width:75px; height:35px; background:#007e43; border:none;padding:0 0.5em;margin:0px;color:#fff; text-align:center;}

/* Contact us page start here */
.title_contact { background:url(../images/icon_contact_us.png) no-repeat 0px 6px ; padding:0 0 0 1.5em; margin:0 0 0 1em;} 
.contact_tab {margin:100px 0 0 0; width:40% !important; }
.contact_tab li {font-size:18px !important;}
.contact_tab_open {width:55% !important; border-left:1px solid #CCC !important;}
.tab_top_contect_header {font-size:22px; font-family:Tahoma, Geneva, sans-serif; margin:1em 2em ;position:absolute; }

.contact_form {margin:0px 0 0 5em; padding:0px;}
.contact_form ul {margin:0px; padding:0px;}
.contact_form ul li {list-style:none; display:inline-block; width:180px; padding:0.8em 0;}

.fileUpload {position: relative;overflow: hidden;margin: 0px;background:#f4f4f0; padding:10px;width:55px;text-align:center;}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
.paste_bio {padding:1em 0;}
.text_area {min-width:400px; border:1px solid #d1d1d1; height:50px;}
.text_field {border:1px solid #d1d1d1; color:#999; padding:5px; outline:none; max-width:192px; width:100%;}
#enquiry {width:192px}
.submit, .reset {width:110px; float:left; margin:0}
.reset input, .submit input {width:86px; padding:0.4em 1.5em ; background:#e41e2c; text-decoration:none; text-transform:uppercase; color:#FFF;border: none;}
.submit a:hover, .reset a:hover {background:#666;}
.text_area_castumer { border:1px solid #d1d1d1; height:50px; width:192px;}

.contact_address {width:100%; margin:0 auto 1em auto; border-bottom:1px solid #d1d1d1; padding:1em 0; }
.address_box {width:40%; display:inline-block; float:left; font-size:14px;  }
.contact_map{width: 45%;float:left}

.coustomer {margin-left:42%;}
.contact_tab li.resp-tab-active {background:url('../images/conatct_tab_active.png') no-repeat #e1fdff right !important ; color:#000 !important;}

.title_recipes { background:url(../images/icon_you_may_also_like.png) no-repeat 0px 6px ; padding:0 0 0 1.5em; margin:0 0 0 1em;} 
.recipes_inner_outer {margin:1.5em 1em;}
.recipes_left_box {max-width:475px; height:auto; float:left; margin:0 2em 0 0;}
.recipes_right_box {width:470px; height:auto; float:left;}
.recipe_name {background:url(../images/veg_nonveg.png) top 4px left 10px no-repeat #f6f6f6; padding:0.2em 2em; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; font-size:20px; color:#e41e2c;}
.recipe_name.veg {background:url(../images/veg_nonveg.png) bottom 4px left 10px no-repeat #f6f6f6;color:#00923f;}
.star {margin:1em}
.totel_time {background:url(../images/time.png) top 0px left 10px no-repeat; padding:0.2em 0 0.5em 2.6em; margin:1em 0px}
.time {width:90px; float:left; font-size:15px; font-weight:bold;}
.time_minutes {font-size:16px; font-weight:normal; margin:0 0 0 10px; width:70px; float:left;}
.pre_time {width:120px; float:left; font-size:12px;margin:3px 0 0 0;}
.cook_time {float:left; width:130px;font-size:12px;margin:3px 0 0 0;}

.ingredients {margin:0px; padding:0px;font-size:12px;}
.ingredients h2 { border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; font-size:15px; padding:0.3em 0 0.3em 2.5em ; background:url(../images/ingredients.png) 5px no-repeat; }
.ingredients ul {margin:0px; padding:0px 25px; }
.ingredients ul li {padding:0.5em 0;list-style: square outside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw=='); }

.directions {margin:2em 0 0 0; padding:0px;font-size:12px;}
.directions h2 { border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; font-size:15px; padding:0.3em 0 0.3em 2.5em ; background:url(../images/directions.png) 5px no-repeat; }
.directions ul {margin:0px; padding:0px 25px; }
.directions ul li {list-style: square outside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw=='); padding:0.5em 0 ;}

.product_used {margin:2em 0 0 0; padding:0px;}
.product_used h2 { border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; font-size:15px; padding:0.3em 0 0.3em 2.5em ; background:url(../images/product_used.png) 5px no-repeat; }
.product_used ul {margin:0px; padding:0px 25px; }
.product_used ul li {list-style: none;float: left;margin: 0px 0.3em;padding: 0px;width: 130px;text-align: center;font-size: 11px;}

.recipes_outer {margin:1.5em 0em;}
.title_veg {background:url(../images/icon_recipi_select.png) bottom 9px left 15px no-repeat #00923f;padding:0.5em 2.5em; color:#FFF; font-size:17px;}
.veg_outer {position:relative;}
.veg_list .nbs-flexisel-inner {border:none !important; background:url(../images/bg_recipe.jpg) repeat; margin:1em 0 0 0;}
.veg_list .nbs-flexisel-inner ul li {background:#FFF; margin:1em 1em; width:230px !important; padding:0px !important; border-bottom:1px solid #c8c9c8;}
.veg_list .nbs-flexisel-inner ul li a img {border:0.5em solid #f2f2f2;}
.name_respe {text-align:left; margin:10px 0 0 10px; font-size:11px;}
.name_respe a {text-decoration:none;/*background:url(../images/over_view_li.png) no-repeat;*/padding: 0.5em 0 0 1em; color:#000; line-height:18px; }

.recipes_outer .nbs-flexisel-item img {max-width:214px;}
.non_veg_outer {position:relative; margin:1.5em 0 0 0}
.title_non_veg {background:url(../images/icon_recipi_select.png) top 9px left 15px no-repeat #da251e;padding:0.5em 2.5em; color:#FFF; font-size:17px;}
.nbs-flexisel-nav-right {right: -39px !important;}
.nbs-flexisel-nav-left {left: -39px !important;}
.nbs-flexisel-ul li a {border-right: 1px solid #CCC;height: 361px;/*padding: 40px 30px;*/}
.veg_list .nbs-flexisel-ul li a {border:none !important; padding:inherit !important}
.product_banner {margin:20px 0 0 0; padding:0px;}
.product_banner ul {margin:0px; padding:0px;}
.product_banner ul li {margin:1em 0px; padding:0px; list-style:none;}
.about_white_line {margin:1em;  }
.header_vision {border-bottom:1px solid #dbdbdb;border-top:1px solid #dbdbdb; background:#f6f6f6; padding:0.5em 1em; font-size:18px; font-family:Tahoma, Geneva, sans-serif; text-transform:uppercase;}
.header_vision span { text-transform:none;}
.to_create {text-align:left; margin:1em 0em; font-size:24px; font-weight:lighter; font-family:'robotolight', Arial, Helvetica, sans-serif;}
.to_create p {padding:1em 0 0 0;font-family: Arial, Helvetica, sans-serif;}
.brand_value {margin:2em 0; padding:0px;}
.brand_value li {background:url(../images/bg_brand_value.png) no-repeat; margin: 1.5em;display: inline-block;vertical-align: bottom;text-align: center;width: 147px;height: 82px;color: #FFF;text-transform: uppercase;padding: 4em 0 0 0;font-size: 17px; }
.leader {width:520px; float:left; margin:2em 5em 0 0;}
.map {width:350px; float:left; margin:2em 0;}
.large_port_folio {margin:2em 0 ;width: 100%}
.large_port_folio li {list-style:none; display:inline-block; margin:0.4em; }
.facility_outer {margin:2em 0;}
.facility {float:right;}

.top_manage_ment {float:left; margin:2em 0;padding:0px; }
.top_manage_ment li {list-style:none;display:inline-block; margin:0 6em 4em 0; width:100%;}
.photo_persons {width:150px; float:left; margin:1em 0 0 0;}
.name_address p {border-bottom:1px dotted; padding:0 0 0.5em 0;}
.name_address {width:80%; float:left; margin:0 0 0 10px; line-height:18px; font-family:Arial, Helvetica, sans-serif; text-align:justify;}


.world_no_one {margin:3em 0px; padding:0px;width: 110%}
.world_no_one li {list-style:none; display:inline-block;margin:1em 1.5em; }
.world_no_one li:last-child {padding:0;}
.world_no_one li p {text-align:center;text-transform:uppercase; font-family:Tahoma, Geneva, sans-serif; font-size:16px ;border-right:1px solid #999; padding:0 3em 0 0;}
.world_no_one li:last-child  p {border-right:none;;margin:1em 0em;}

.small_manage_ment {margin:0px; padding:2em 0px ; border-top:1px solid #CCC; font-family:Arial, Helvetica, sans-serif;text-align: center}
.small_manage_ment li {list-style:none; text-align:center; display:inline-block; vertical-align:top; margin:1em 1em; width:223px;}
.small_manage_ment li div { margin:1em 0 0.5em 0}
.small_manage_ment li p { margin:0px; text-transform:capitalize;}

.about_map {margin:1em 0; border:1em solid #e9e9e9;}
.about_map iframe {width:100% !important;}
.group_seb {margin:1em 0;}
.founderd {position:relative !important;min-height: 280px}
.founderd .you_may_also_like_slider .nbs-flexisel-inner {border:none !important; background: #FFF !important;}
.founderd li{list-style: none}
.founderd .you_may_also_like_slider .nbs-flexisel-item img {max-width:284px !important; max-height:222px !important; }
.founderd .you_may_also_like_slider .nbs-flexisel-item div { font-size:30px; font-family:'robotolight', Arial, Helvetica, sans-serif; color:#c0c0c0; margin:0.4em 0 0em 0;}
.founderd .you_may_also_like_slider .nbs-flexisel-item p { font-size:20px; font-family:'robotolight', Arial, Helvetica, sans-serif; color:#333;line-height:normal}
.founderd .you_may_also_like_slider .nbs-flexisel-container {margin:0px; position:absolute;}
.founderd .you_may_also_like_slider #flexiselDemo1 li a  img{width:inherit;}
.founderd .you_may_also_like_slider .nbs-flexisel-item {/*width:285px !important; */ max-width:233px !important; padding:0px; /*margin:0px 2em !important;*/ margin:0 10px;}

.history_list li span{color:#ee1d25; font-weight:bold;}
.bord_dia {text-align:center; margin:0px 0 1em 0; padding:1em 0px;}
.bord_dia li {display:block; padding:1em 1em; font-size:15px; font-family:Arial, Helvetica, sans-serif; width:100%; text-align:left;}
.bord_dia li span {
color: #000;
font-family: arial; font-size:15px;
margin-left: 14px;
padding-left: 14px;
border-left: 1px solid #666;}
.bord_dia li b { font-weight:normal; width:25%; display:inline-block; float:left; font-size:15px;}
.exceptional {margin:1em 0; padding:0px;}
.exceptional li {list-style:none; display:inline-block; margin:0 0.2em;}
.exceptional li:last-child {margin:0px;}
.many_more {text-align:right; margin:0 0 5em 0}
.many_more p {border-bottom:1px solid #CCC; top:-10px;}
.many_more p a {background: #FFF url('../images/arrow.jpg') no-repeat bottom left;padding: 5px;color: #CCC;font-size: 13px;}

.wide_product {margin:1em 0px; padding:0px; }
.wide_product li {list-style:none; display:inline-block; margin:0 1.5% 2em 1.5%; vertical-align:top;}
.wide_product li:last-child {margin:0 0 2em 0;} 
.wide_product p {background:#fff; border:0.5em solid #f6f6f6; margin:0px; padding:0px; }
.wide_product p img { max-height:152px;}
.wide_product div {background:#ed1d24; padding:0.4em; text-align:center; color:#FFF; text-transform:uppercase; font-size:14px;}

.innovation {margin:1em ;font-size:17px; font-family:Tahoma, Geneva, sans-serif;}
.innovation div {color:#ed1d24; font-weight:bold; text-transform:capitalize;}

.innovation ul {margin:2em 0px; padding:0px;}
.innovation ul li  {display:inline-block; margin:0 0.5em 1em 0; font-size:12px; vertical-align:top; }
.innovation ul li:last-child {margin:0px;} 
.innovation ul li img {border:1px solid #CCC;}
.innovation ul li p {text-transform:none; text-align:center;}

.group_seb { margin:1em;font-size:18px; font-family:'robotolight', Arial, Helvetica, sans-serif;}
.group_seb b {font-weight:bold;}
.group_seb h2 {font-size:18px; margin:0.8em 0 0.3em 0;padding:0px; color:#e41e2c; font-family:'robotolight', Arial, Helvetica, sans-serif;}
.group_seb div {}
.group_seb p {}
.group_seb img {float:right;}


#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {display:none;}
.nbs-flexisel-container {position:relative;max-width:100%;}
.nbs-flexisel-ul {position:relative;width:99999px;margin:0px;padding:0px;list-style-type:none;text-align:center;}
.nbs-flexisel-inner {overflow:hidden;float:left;width:100%;/*background:#f9f9f9;*/border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.nbs-flexisel-item {float:left;margin:0px;padding:0px;cursor:pointer;position:relative;line-height:0px;}
.nbs-flexisel-item img {/*width: 100%;*/cursor: pointer;position: relative;margin-top: 10px;margin-bottom: 10px;max-width:170px;max-height:138px;}
/*** Navigation ***/
.nbs-flexisel-nav-left,.nbs-flexisel-nav-right {width: 32px;height: 32px;position: absolute;cursor: pointer;z-index: 100;opacity: 0.5;}
.nbs-flexisel-nav-left {left: 10px;background: url(../images/button-previous.png) no-repeat;}
.nbs-flexisel-nav-right {right: 5px;background: url(../images/button-next.png) no-repeat;}


/*
Menu */
.slicknav_menu{display:none;}
a {text-decoration:none;}
.menu_outer {background:#ee1d23; float:right; border-radius:25px; padding:0.1em 0 0.11em 0.5em; border:0.2em solid #ee1d23; margin:0 0 2.3em 0;  }
#menu  { font-family:Arial, Helvetica, sans-serif; font-size: 13px; margin: 0px; padding: 0px;}
#menu > li {display: block; float:left; border-left:1px solid #ef4d74; border-right:1px solid #fff;}
#menu > li .sub_menu { display: none; }
#menu > li:first-child {border-left:none}
#menu > li:last-child {border-right:none}
#menu > li:nth-child(0n+5) { border-right:none}
#menu > li:nth-child(0n+6) { border-left:none}
#menu > li > a {display: block;text-decoration: none;color: #ffffff;padding: 5px 20px 5px 20px;background: #ee1d23; margin-left: 0px;white-space: nowrap; text-transform:uppercase; font-size:12px; font-weight:bold;}
#menu > li > a:hover { background: #FFFFFF;color:#000;}
#menu > li:hover > ul {display: inline-block;}
#menu > li:hover > li {float:left;font-size:12px; display:inline-block; border-left:none; border-right:none; }
#menu > li:hover > a { background: #d4020a;color:#fff;}
#menu > li:hover > li > a:hover { background: #e46887; color:#fff;}

#menu > li > .sub_menu li a {color: #000 !important;font-weight: normal; font-family: arial;font-size: 11px;}
#menu > li > .sub_menu li a:hover{color: #d4020a !important;}
#menu > li > .sub_menu li .sub_menu_2 { display: none; }
#menu > li > .sub_menu_2 a:hover { background: #d4020a;color:#fbfafa;}
#menu > li > .sub_menu li:hover .sub_menu_2{display:block;position: absolute;margin:0px; padding:0px;border:1px solid #e9e9e9;left: 0;width:100%;min-height:307px;background: #FFF;}
#menu > li > .sub_menu li:hover .sub_menu_2 li {float:none; font-size:12px ;display:block;background:#fff;color:#FFF; border-bottom:1px solid #e9e9e9;   }
#menu > li > .sub_menu li:hover .sub_menu_2 li a {background:#fff;padding:0.8em 4em 0.8em 2.2em; color:#000; text-transform:capitalize; list-style:decimal }

#menu > li > .sub_menu li .sub_menu_2 ul  { display: none; }
#menu > li > .sub_menu_2 a:hover { background: #FFFFFF;color:#d4020a;}
#menu > li > .sub_menu li:hover .sub_menu_2 li:hover ul {display:inline-block;position: absolute;margin:0px; padding:0px; float:left; left:222px; top:0px;}
#menu > li > .sub_menu li:hover .sub_menu_2 li:hover ul li {float:left; font-size:12px ;display:inline-block;color:#FFF; position:relative ; width:350px; background:#FFF; border:1px solid #e9e9e9; height:306px;}
#menu > li > .sub_menu li:hover .sub_menu_2 li {list-style:armenian;width:222px;}
#menu > li > .sub_menu li:hover .sub_menu_2 li:last-child { border:none;}
#menu > li > .sub_menu li:hover .sub_menu_2 li a:hover {color:#df3961; list-style:circle}
#menu > li > .sub_menu li:hover .sub_menu_2 li:hover ul li img {background:#fff; color:#fff; }


#menu-new{width: 570px;position: absolute;padding: 0 13px;margin:0 0 0 0 ;display:none ; background:#FFFFFF;z-index: 99;color: #d4020a;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;border:1px solid #ccc;}
#menu-new > li{text-transform:uppercase; font-family:'robotoblack'; font-size:14px; color:#d4020a !important; font-weight:bold;width: 250px;float: left;padding:0;margin-top:20px;list-style:none;}
#menu-new > li > img{margin-right:10px;}
#menu-new > li > ul > li > img, #menu-new > li > ul > li > p{display: none;color: #ed7c98;}
#menu-new > li > ul{margin: 0;padding:20px 0px 25px 20px;color: #ed7c98;}
#menu-new > li > ul > li:hover  img{width: 100%}
#menu-new > li > ul > li:hover > img, #menu-new > li > ul > li:hover > p{display: block;position: absolute;right: 8px;top: 0px; vertical-align:middle; margin-top:65px;width:172px;}
#menu-new > li > .sub-menu-menu li{ padding-top:13px;font-size:11px; font-family:"Arial Black";color: #ed7c98;list-style: square outside url('../images/hypen.jpg');}
#menu-new > li > .sub-menu-menu li:hover{list-style: square outside url('../images/hypen.jpg') !important;}
#menu-new > li > .sub-menu-menu li:hover a{color: #ee1d23}
#menu-new > li > .sub-menu-menu li a{color: #000;font-weight: normal;font-family: arial;font-size: 11px;}
.sub-menu-menu{margin:0px;}

.aboutus_menu{width: 250px !important;height:55px;}
.aboutus_menu li{width: 100%  !important;width: 100% !important;margin: 0px 15px !important;padding: 3px !important;list-style: square outside url('../images/hypen.jpg') !important;}
.aboutus_menu li:hover{list-style: square outside url('../images/hypen.jpg') !important;}
.aboutus_menu li:hover a{color: #ee1d23}
.aboutus_menu li a{padding: 0px !important;color: #d4020a !important;}
.contact_us{height:148px !important;width:173px !important}
            
            

.menu_button {border-top:1px solid #efefef; margin:5em 0 0 0; padding:0em 0 0 0 ;}
.menu_button a {width:50px; background:url(../images/view_menu_arrow.jpg) right no-repeat !important ;}
.sub_menu_2 .me_img p{text-align: center}
.addthis_button_facebook_like{width: 88px;}
.addthis_button_tweet{width: 88px;}
.desktop{display: block}
.mobile{display: none}

.zoomWindowContainer > div{border: 1px solid #cccccc !important;}
.taxonomy-term-description{display: none}
.contact_address {font-size:14px;}

.current {padding:2em 0 1em 0; font-size:17px; color:#ee1d25; border-bottom:1px solid #CCC; }
.current_list { margin:0px; padding:0 0 5em 0; border-bottom:1px solid #ccc; }
.current_list li{list-style:none;display:inline-block; margin:3em 2em 0 0; width:30%; vertical-align:top;color: #222; }
.current_list li strong {display:block;color: #222;}
.current_list li strong:hover{color: #ee1d25}
.current_list li a{color: #222;}

.cont_form_outer {border-radius:10px; padding:2em; border:1px solid #efefef;
-webkit-box-shadow: 0px 0px 10px 0px #ccc;
-moz-box-shadow:    0px 0px 10px 0px #ccc;
box-shadow:         0px 0px 10px 0px #ccc;
}

.cont_form_outer_left {width:50%; float:left;}
.cont_form_outer_right {width:50%; float:left;}
.cont_form_outer_left_field { margin:0px; padding:0px;}
.cont_form_outer_left_field > li {width:40%; float:left; list-style:none; padding:1em 0; vertical-align:bottom;}

.am_a_consumer {margin:2em 0px; padding:0px; font-size:12px;}

.body_text { width:55%; float:left; margin-right:5%; line-height:normal; text-align:justify;}
.am_a_consumer .body_text {font-size: 14px;}
.right_form { width:40% ; float:left;}
#edit-comment-body-und-0-format--3, #edit-comment-body-und-0-format{display: none;}
#comment-form > div > div{margin: 5px 0px}
#comment-form label{width: 100px;display: inline-block}
#comment-form input{width: 273px;display: inline-block;border: 1px solid #d1d1d1;color: #999;padding: 5px}
#edit-submit{width:100px  !important;padding: 0.3em 1.5em;background: #e41e2c;text-decoration: none;text-transform: uppercase;color: #FFF !important;border: none !important;}
.search-form .form-item{float: left;width: 407px;}
#comment-form #edit-preview{display: none;}
.comment{border-bottom: 1px dotted #999;margin: 5px 0;}
.comment-text h3, .comment-text p{margin: 0;padding: 0;text-transform: capitalize}
.comment-text h3 a, .comment-text p{color: #222;}
.comment-text p{margin-bottom: 5px;}
label.error{width: 100% !important;}


@media screen and (max-width: 790px) {
    .js #menu {display:none;}
    .js .slicknav_menu {display:block;}
    .menu_outer {display:none !important;} 
    .mobile{display: block}
    .desktop{display: none}
    .top_path.mobile{clear: both;float: left;width:90%;margin-left: 1.8em}
    .top_band{padding: 0.3em 0.5em 1.5em 0.5em}
    .body_text {width: 90%; margin: 0px auto !important;}
    .right_form {width: 90%; margin: 0px auto !important;}
    .am_a_consumer {width: 90%; margin:2em auto;}
}   


@media only screen and (max-width: 768px){
    .nav .search_outer {width:300px; margin:1em auto; float:none;}
    .nav .search_outer .search {width:80%;border-radius:25px; border:none; padding:0.5em 2em 0.5em 1em; float:left; font-size:11px; color:#666;background:url('../images/icon_search.png') no-repeat 95% 3px #fff ; outline:none;}
    .menu_outer{display: none}

    .logo {float:none;width:166px; height:69px; margin:1em auto !important;}
    .social_menu {max-width:480px; margin:1em auto; float:none;  }

    .nav ul {margin:0px; padding:0px;}
    .nav li {float:none; font-size:14px; text-transform:uppercase; border-right:none;  margin:0px; }
    .nav li a { padding:1em 1em; text-decoration:none;color:#FFF;}
    .nav li a:hover {background:#ed7c98; padding:1em 1em; color:#fff;}

    .nav {margin:1em 0 ;}
    .nav li {float: none;font-size: 14px;text-transform: uppercase;border-right: none;margin: 0px;display: block;width: 100%;}

    .maharaja_home_outer  {margin:1em auto;  width:90%; }
    .maharaja_home_outer ul li {width:100%; }
    .maharaja_home_outer ul li.newness {list-style:none;background:#12ba74;margin:1em auto;}
    .search_outer {width:50%; margin:0px auto; }

    .copy_right {width:100%; text-align:center;}
    .privasy {width:80%; text-align:center;}

    .product_overvie_left  {width:90% !important; margin:0px auto !important; float:none; clear:both;}
    .view_product_name, .vie_product_id, .view_product_price, .vie_product_like_us {text-align:center; width:100%}
    .where_to_by {width:120px; margin:0px auto !important; clear:both; height:auto; padding:0em 0; }

    .buy_online_logos {width:88%; margin:0px auto; }
    /* Contact us page start here */
    .contact_tab_open {width:90% !important; margin:0px auto;}
    .tab_top_contect_header {position:relative !important;}
    .contact_map iframe, .address_box {width:90% !important; margin:0px auto !important;}

    .product_overvie_image { width:97%; margin:0px auto !important;} 
    .product_display {width:90%; margin:0px auto !important;}
    #container {width:100% !important; margin:0px  auto !important}
    .product_overvie_left h1, .product_overvie_left h2, .product_overvie_left p {text-align:center;}

    .contact_form ul li {padding:0.5em 0 ;}

    .recipes_left_box {width:80%; margin:1em auto 1em auto !important; float:none; }
    .recipes_right_box {width:80%; margin:1em auto !important; float:none;clear:both;}

    .nbs-flexisel-nav-right {right: 0px !important; top:-40% !important;}
    .nbs-flexisel-nav-left {left: 0px !important; top:-40% !important;}

    .transparent-btns4_on table {width:90%; margin:0px auto;}

    .privacy_2, .privasy {clear:both !important; padding:0.4em 0; width:100%; text-align:center; }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .maharaja_home_outer  {margin:1em auto;  width:90%; }
    .maharaja_home_outer > ul > li {width:32%;}
    .maharaja_home_outer > ul > li:nth-child(odd){margin: 1em 0em 0em 0.5em}
    .maharaja_home_outer > ul > li:first-child{margin: 1em 0.5em 0em 0em}
    .maharaja_home_outer ul li.newness {list-style:none;background:#12ba74;margin:1em auto;}
    .maharaja_home_outer ul li.care{height:10em}
    .maharaja_home_outer ul li.care .inner_care{height:9em}
    .care ul li {height:9em !important; overflow: hidden;}
    .social{width:280px !important;margin:0px 30% !important;}
    .social > div{width:87px !important;}
}



@media only screen and (max-width: 479px){
    .nav {width:95%;}
    .b {width:90%;}
    .privasy li {line-height:22px;}
    .privasy li:nth-child(0n+2) {display: block;clear: both;width: 45%;}
    #mainslider .transparent-btns_tabs{position: absolute;top: 80%;z-index: 2;right:50px;}
    .inner_experience .prev {left:90%;}

    .social_menu ul li {float: left;vertical-align: bottom;padding: 0 0.5em;/*clear: both;*/text-align: center;width:45%;}
    .social_menu ul li.follo_s, .social_menu ul li.follo {width:30%; clear:none;display: none }
    
    #mainslider .transparent-btns_tabs {position: absolute;top: 75%;z-index: 2;right: 20px;}


    #search-form{display: none;}

    .sbHolder {clear:both !important;}
    .store_locator_search_outer {width:90%; margin:1em auto !important;}
    .search_button {position:relative;}
    .course {padding:0.5em 0;}

    .product_section_li {width:80%; margin:0.8em auto !important; clear:both; float:none !important;}
    .coustomer {margin-left:0px !important; }
    .contact_form ul li {padding:0.2em 0 ;}
    #slider3-pager li a {font-size:0.6em;}

    .recipes_left_box {width:95%; margin:1em auto 0em auto !important; float:none; clear:both;}
    .recipes_right_box {width:95%; margin:1em auto !important; float:none;}

    .b_maharaja span {border:none !important;}

}

.me_img  img{height: 200px !important;width: auto !important}
.social {padding: 0px 0px 0px 0px;width: 276px;float: left;}
 
/*css by ankur*/ 
.map_dot_image {margin: -100px 0px 0px 230px; position: absolute;}
.map_dot_image span {font-size: 13px;margin-left: 5px;}

@media only screen and (max-width: 640px){
.founderd .you_may_also_like_slider .nbs-flexisel-item { max-width:290px!important;}	
	
	}
@media only screen and (max-width: 600px){
.founderd .you_may_also_like_slider .nbs-flexisel-item { max-width:270px!important;}	
	}
	@media only screen and (max-width: 480px){
.founderd .you_may_also_like_slider .nbs-flexisel-item { max-width:210px!important;}	
	}
	
		@media only screen and (max-width: 400px){
.founderd .you_may_also_like_slider .nbs-flexisel-item { max-width:170px!important;}	
	}
		@media only screen and (max-width: 400px){
.founderd .you_may_also_like_slider .nbs-flexisel-item { max-width:158px!important;}	
	}
	
			@media only screen and (max-width: 350px){
.founderd .you_may_also_like_slider .nbs-flexisel-item { max-width:140px!important;}	
	}
	
.WebRupee.rupee1 { margin-right:0; margin-left:2px;}
@media only screen and (max-width: 900px) { .cont_form_outer_left { float:none}

.cont_form_outer_right { float:none}
}
@media only screen and (max-width: 700px) {.cont_form_outer_left { width:100%;}
.cont_form_outer_right {width:100%;}

}
@media only screen and (max-width: 350px) {
.cont_form_outer_left_field > li { width:49%;}
}
.ignitee_sig {
background-image: url("../images/Ignitee_Logo.png");
background-repeat: no-repeat;
background-position: 0 0;
width: 97px;
height: 15px;
display: inline-block;
margin-top: 0px;
float: right;
margin-right: 3px;
margin-left: 2px;
}

.extra-links {
color: #010101;
font-size: 11px; font-family:Arial, Helvetica, sans-serif; vertical-align:top; float:left;
}
.extra-links a { display:inline-block; vertical-align:top;}
@media only screen and (max-width: 768px){
.extra-links{ margin-top: 8px; float:none;
    text-align: center;
    vertical-align: top; display:inline-block;
    width: 100%;}
	
	#widget { display:inline-block;}
	body.ready { display:inline-block;}
	.social { float:none; width:260px!important; margin:0 auto!important;}
	.bord_dia li span { display:block; margin:0; padding:0; margin-top:10px; border:0;}
	.facility { float:none;}
	.bord_dia li b { float:none}
.contact_address { width:90%;}	
}
.source_cls { text-align:left; clear:both;}
