@charset "UTF-8";


@media only screen and (max-width: 481px) {
.gridContainer {width: 90.675%;padding-left: 1.1625%;padding-right: 1.1625%;}
#LayoutDiv1 {clear: both;float: left;margin-left: 0;width: 100%;display: block;}


.maharaja_home_outer {background:#fff; border:0.5em solid #f1f1f1; margin-top:1em}
.maharaja_home_outer ul {margin:0px; padding:0px;}
.maharaja_home_outer ul li {list-style:none; margin-right:1em; width:100%; float:left; }
.maharaja_home_outer ul li.expterience {list-style:none; background:#fe0b5b;}
.maharaja_home_outer ul li.newness {list-style:none;background:#12ba74;}
.maharaja_home_outer ul li.care {list-style:none;background:#0ecfdd; margin-right:0px;}

#tabs {border:0.5em solid #48a77d;}
.newness_header {font-size:17px; padding:0.5em ; color:#FFF; text-transform:uppercase; font-family:'robotolight', Arial, Helvetica, sans-serif}
.newness ul {margin:0px; padding:0px; }
.newness ul li {margin:0px; padding:0px; width:100%;}
.care ul li {margin:0px; padding:0px; width:100%;}


.inner_experience {border:0.5em solid #da034a;}
.inner_newness {border:0.5em solid #48a77d;}
.inner_care {border:0.5em solid #00bdcb;}

#slider3-pager {margin:0px; padding:0px; }
#slider3-pager ul {margin:0px; padding:0px;}
#slider3-pager li {float:left !important; margin:0px;text-align:center; position:relative; width:33.333%; text-align:center !important; }
#slider3-pager li a {background:#333;color:#FFF; text-decoration:none;padding:0.6em; margin:0px; text-transform:uppercase; font-size:0.9em; display:block;}
#slider3-pager li a:hover {color:#FFF;background:#e41e2c;}

.nav {background:#f28e98; max-width:805px; float:right; border:0.5em solid #ed7c98; border-radius:25px; margin:0em 0 1em 0; }
.nav ul {margin:0px; padding:0px; float:left;}
.nav li {float:left; font-size:14px; text-transform:uppercase; border-right:1px solid #cc5763; vertical-align:middle; padding:0 0.5em  }
.nav li a { padding:0em 0em; text-decoration:none;color:#FFF;}
.nav li a:hover {background:#ed7c98; padding:0em 0em; color:#fff;}
.sub_menu {display:none; z-index:999;border:none;}
.nav li a:hover .sub_menu {display:block; position:relative; border:none;}
.nav ul li:hover .sub_menu {display: block;position: absolute;padding:0.5em 0;}
.nav ul li:hover .sub_menu li {float: left;font-size: 12px;margin:0px;padding:0.8em 1em; background: #ed7c98; list-style:none; }
.nav ul li:hover .sub_menu li a { background: #ed7c98;color:#fff;}
.nav ul li:hover .sub_menu li a:hover { background: #ed7c98; color:#e41e2c;}
.nav ul li:hover .sub_menu li:last-child {border:none;}

.search_outer {float:left; margin:0em 0 0 1em; }
.search {width:125px;border-radius:25px; border:none; padding:0.5em 2em 0.5em 1em; float:left; font-size:11px; color:#666;background:url('../images/search_icon.png') no-repeat 135px 3px #fff ; outline:none;}
.main_menu li:last-child{border:none}
.logo {width:166px; height:69px; float:left; margin:1.5em 0 0 0;}


.social_menu { max-width:805px; float:right; margin:1em 0; }
.social_menu ul {margin:0px; padding:0px;}
.social_menu ul li {float:left; vertical-align:bottom; padding:0 0.5em;}
.social_menu ul li.follo {margin:15px 0 0 0; }
.social_menu ul li.follo_s {margin:10px 0 0 0; }
.social_menu ul li.follo_s:last-child {padding-right:0px;}


footer {background:#f1f1f1; margin:2.5em 0 0 0; padding:1em 0; font-family:Arial, Helvetica, sans-serif;}
.copy_right { color:#000; font-size:11px; float:left; width:30%;}
.privasy {float:right;  position:relative; margin:0px; padding:0px; }
.privasy li {float:left; list-style:none;color:#000; font-size:11px; padding:0 0.5em;}
.privasy li a {text-decoration:none;color:#000;}


.video-container {position: relative;padding-bottom: 56.25%;padding-top: 30px; height: 0; overflow: hidden;}
.video-container iframe,.video-container object,.video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}


}






